/* Content */

.projects-list {
	padding: 27px 0 0 24px;
	text-align: justify;
}
.projects-list:after {
	display: inline-block;
	content: "";
	width: 100%;
	height: 0;
}
.projects-list_item {
	width: 181px;
	float: left;
	margin-right: 27px;
	margin-bottom: 40px;
}

.project-link-pic {
	display: block;	
	border-radius: 5px;
	width: 181px;
	height: 129px;	
	margin-bottom: 5px;
}

.project-pic-wrapper:hover>.project-name {
	display: block;
}
.project-pic-wrapper {
	border-radius: 5px;
	border: 2px solid #3ba8c0;
	width: 181px;
	height: 129px;
	overflow: hidden;
	position: relative;
}
.project-name {
	position: absolute;
	display: none;
	width: 179px;
	height: 127px;
	background: rgba(1,108,164,0.75);
}
.project-name_inner {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 90%;
	margin-top: -10%;
	color: #fff;
	border: 2px solid;
	border-radius: 5px;
	margin-left: 5%;
}
.project_pic {
	width: 179px;
}
.project__info {
	text-align: center;
}
.project__info_link {
	font: italic 13px 'Fira Sans';
	color: #3ba8c0;
}
.project__info_link:hover {
	text-decoration: underline;
}
.project__info_text {
	font: 15px 'Fira Sans';
}
.add-picture_link {
	display: block;
	border: 1px dashed #3ba8c0;
	width: 181px;
	height: 129px;
	border-radius: 5px;
}
.add-picture__wrapper {
	font: 13px 'Fira Sans';
	color: #3ba8c0;
	text-align: center;
	margin-top: 30px;
}